body{
	margin: 20;
	font-family: sans-serif;
	color: black;
}

img{
	width: 150px;
	height: auto;
}

input{
	width: 150px;
	height: auto;
}

a{
	color: blue;
}

p{
	display:inline;
}

h3{
	font-size: 16pt;
}


