<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	</head>
	<body>
		<form class = 'grid' action = '/result' method = 'POST'>
			
			<center>
				<label for = "Name">Enter Movie Title:</label>
				<input type= 'text' name = 'movie_title' id = 'name'>
			</center>
			<center>
				<input type = 'Submit' class = 'file_submit'>
			</center>
			<center>
				
			</center>	
			<center>
				{% if director %}
				<h3 style = 'color: black;'>Director: {{director}}</h3>
				{% endif %}
				{% if director %}
				<img src='{{poster}}'> 
				{% endif %}
			</center>	

		</form>
	</body>
</html>
