<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	</head>
	<body>
		
		{% if poster %}
			<input type='image' src='{{poster}}' alt='Poster Not Found'>
		{% endif %}
		
		{% if title %}
			<h3>Title: {{title}}</h3>
		{% endif %}

		<!--
		IT SHOWS THE FIRST MOVIE, NOT THE MOVIE CLICKED
		Click Director -> shows movies of the director in the order of popularity
		Click Cast -> shows movies of the cast in the order of popularity
		Click Country -> shows movies of the country (now trending)
		Click Genre -> shows movie of the genre (now trending)
		-->

		{% if date %}
			<h3>Release Date: {{date}}</h3>
		{% endif %}

		{% if director %}
			<h3>Director: {{director}}</h3>
		{% endif %}

		{% if casts %}
			<h3>Cast: {{casts}}</h3>
		{% endif %}

		{% if country %}
			<h3>Country: {{country}}</h3>
		{% endif %}

		{% if genre %}
			<h3>Genre: {{genre}}</h3>
		{% endif %}

		{% if runtime %}
			<h3>Runtime: {{runtime}} minutes</h3>
		{% endif %}

		{% if overview %}
			<h3>Overview: {{overview}}</h3>
		{% endif %}
	</body>
</html>
