<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
	</head>
	<body>
		<center>
			<!--moive poster list format-->

			{% for r in result %}
			<form action='/movieInfo' method="POST">
				<h3>Title: {{r[3]}}</h3>
				<h3>Director: {{r[0]}}</h3>
				<a href="{{ url_for('movieInfo') }}">
					<input type='image' src='{{r[1]}}' alt='Poster Not Found'>
					<input type='hidden' name='movie_id' value='{{r[2]}}'>
				</a>
			</form>
			{% endfor %}

		</center>	
	</body>
</html>

